ul{
    color: blue;
    list-style: none;
}
h1{
    color: brown; font-size: large;
    text-align: center;
}
details{
    color: darkorange;
}
summary{
    font-size: x-large;
}
nav{
    font-size: large;
}
img {
    border: solid; border-width: 20px; color: green ;
}
h2{
    text-align: center;
    color: green;
}
p{
    font-size: larger;
    background-color: rgba(36, 167, 69, 0.521);
}
h3 {
    color: brown; font-size: large;
}
p3{
    font-size: larger; background-color: rgba(36, 167, 69, 0.521);
}
p4{
    font-size: larger; background-color: rgba(36, 167, 69, 0.521);
}
footer{
    text-align: center;
}